.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  h1 {
    font-size: 60px;
    font-family: serif;
  }

  ul {
    border: 5px solid orange;
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      text-decoration: none;
      padding: 10px;
      margin: 10px;
      background-color: darkcyan;
      border-radius: 10px;
      color: white;
      transition: 1s;

      :hover {
        color: lawngreen;
      }

      li {
        font-weight: bold;
        list-style: none;
      }
    }
  }
}

.navbar {
  background-color: orange;
  padding: 15px;
  align-items: center;
  display: flex;
  height: 100px;

  a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
  }
}

.footer {
  background-color: orange;
  padding: 15px;
  align-items: center;
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: center;
  margin-top: 200px;
}
